.main {
    width : 70%;
    height : 90vh;
    border : 4px solid black;
    margin : auto;
    margin-top : 5vh;
    margin-bottom: 5vh;
    overflow-y: scroll;
    background-color:rgb(164, 196, 117);
    
  

}